<%- include("partials/header.ejs") %>

<h1><%= header %></h1>

<p><%= content %></p>

<% posts.forEach(function(post){ %>
    <a href="/posts/<%= posts.indexOf(post) %>">
        <h5><%= post.title %></h5>
        <p><%= post.content %></p>
        <%= console.log(posts.indexOf('post'));%>
    </a>
<% }); %>

<%- include("partials/footer.ejs") %>