<%- include("partials/header.ejs") %>

<h1><%= header %></h1>

<p><%= content %></p>

<div class="new_entry">
    <a href="/compose">NEW ENTRY</a>
</div>

<% posts.forEach(function(post){ %>
    <div class="entry">
        <a href="/posts/<%= posts.indexOf(post) %>" class="entry_link">
            <h5><%= post.title %></h5>
            <p class="date"><%= post.date %></p>
            <p><%= post.content.slice(0, 350) %></p>
        </a>
        <button class="entry_btn">✏️</button>
        <button class="entry_btn">🗑️</button>
    </div>
    <hr>
<% }); %>

<%- include("partials/footer.ejs") %>