<%- include("partials/header.ejs") %>

<h1><%= header %></h1>

<p><%= content %></p>

<div class="new_entry">
    <a href="/compose">NEW ENTRY</a>
</div>

<% posts.forEach(function(post){ %>
    <div class="entry">
        <a href="/posts/<%= posts.indexOf(post) %>" class="entry_link">
            <h5><%= post.title %></h5>
            <p><%= post.content %></p>
        </a>
    </div>

<% }); %>

<%- include("partials/footer.ejs") %>