<%- include("partials/header.ejs") %>

<h1><%= header %></h1>

<p><%= content %></p>

<!-- Create new entry -->
<div class="new_entry">
    <a href="/compose" class="new_entry_btn">NEW ENTRY</a>
</div>

<!-- Posts -->
<% posts.reverse(); %>
<% posts.forEach(function(post){ %>
    <div class="entry">

        <div id="AlertPlaceholder"></div>

        <h3><%= post.title %></h3>
        <p class="date"><%= post.date %></p> <br>
        <p><%= post.content.slice(0, 150) %>...</p>
        <a href="/posts/<%= posts.indexOf(post) %>" class="entry_link">Read More</a>
        <br>

        <button type="button" id="editAlertBtn<%= posts.indexOf(post) %>" class="entry_btn">✏️</button>
        <button type="button" id="deleteAlertBtn<%= posts.indexOf(post) %>" class="entry_btn">🗑️</button>
    </div>
    <hr>
<% }); %>

<%- include("partials/footer.ejs") %>